<div class="row">
  <button (click)="dispatchCombineLatestAction()">teste combineLastest</button>
  <button (click)="dispatchExhaustMapAction()">teste exhaustMap</button>
  <button (click)="clear()">limpar</button>

  <div>
    <p>
      Orders: <strong>{{ orders$ | async | json }}</strong>
    </p>
  </div>

  <div>
    <p>
      combineLatest: <strong>{{ combineAssetsAndOrders$ | async }}</strong>
    </p>
  </div>

  <div class="col-md-4">
    <!-- <app-product-list
      [errorMessage]="errorMessage$ | async"
      [displayCode]="displayCode$ | async"
      [products]="products$ | async"
      [selectedProduct]="selectedProduct$ | async"
      (displayCodeChanged)="checkChanged()"
      (initializeNewProduct)="newProduct()"
      (productWasSelected)="productSelected($any($event))"
    ></app-product-list> -->
    <app-product-list
      [assets]="assets$ | async"
    ></app-product-list>
  </div>
  <div class="col-md-8">
    <app-product-edit
      [selectedProduct]="selectedProduct$ | async"
      [errorMessage]="errorMessage$ | async"
      (clearCurrent)="clearProduct()"
      (update)="updateProduct($event)"
      (create)="createProduct($event)"
      (delete)="deleteProduct($event)"
    ></app-product-edit>
  </div>
</div>
