<div class="content" role="main">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Aba 1">
      <div class="card-container">
        <div class="filter-one_container">
          <app-filter></app-filter>
          <button mat-raised-button color="primary">meu botão</button>
        </div>

        <div class="filter-two_container">
          <app-filter></app-filter>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Aba 2"></mat-tab>
  </mat-tab-group>
  <!-- <router-outlet></router-outlet> -->
</div>
